<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= page_description %>">
<meta name="keywords" content="<%= page_keywords %>">
<meta name="author" content="<%= page_author %>">
<meta name="robots" content="index, follow">
<!-- OPEN GRAPH -->
<meta property="og:title" content="<%= page_title %>">
<meta property="og:description" content="<%= page_description %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= page_url %>">
<meta property="og:site_name" content="<%= page_author %>">
<meta property="og:locale" content="<%= page_locale %>">
<!-- GENERAL -->
<link rel="icon" href="/Images/Favicons/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/Images/Favicons/favicon.ico" type="image/x-icon">  
<link rel="apple-touch-icon" href="/Images/Favicons/apple-touch-icon.png">
<link rel="canonical" href="<%= page_full_url %>">
<link rel="stylesheet" href="/Stylesheets/website_styling.min.css" />
<title><%= page_title %></title>